@font-face {
  font-family: 'Hemi';
  src: url('./assets/fonts/hemi_head_bd_it-webfont.woff2') format('woff2'),
       url('./assets/fonts/hemi_head_bd_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body { 
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* div, main, section {
  border: black solid 1px;
} */

/* h1 { 
  font-family: Hemi, sans-serif;
} */

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  margin:0px;
}

nav {
  background-color: black;
  position: fixed;
  width:100%;
  height: 40px;
}

nav img{
  height:90%;
}

main{
  padding: 10px;
  padding-top:40px;
  background-color: #202020;
  color: white;
}

h1{
  font-size: 60px;
}

a{
  color:#FE0D00;
  text-decoration: none;
}

.label-text{
  margin-bottom: 5px;
}

.check-label{
  display: flex;
  align-content: center;
  margin: 10px 0px;
}

.check-mark{
  height: 20px;
  min-width: 20px;
  width: 20px;
  background-color: #908F8F;
  border: 1px solid white;
  position: relative;
  align-self: center;
  margin: 10px;
}

.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-label input:checked ~ .check-mark:after {
  display: block;
}

.check-label .check-mark:after {
  left: 2px;
  top: -5px;
  width: 10px;
  height: 20px;
  border: solid #FE0D00;
  border-width: 0 6px 6px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check-text{
  align-self: center;
}

/* Feedback specific stuff */

.feedback-host{
  font-family: 'PT Sans', sans-serif;
}

#feedback-form{
  margin-top: 30px;
  width:100%;
}

#feedback-text{
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding:10px;
}



